<!doctype html>
<html class="no-js" lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<title>Star Wars Imperial Styleguide by nclud</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/style.css?ver={{ 'now'|date('Y-m-d_g-i') }}" type="text/css" media="all">
		{% block head '' %}
	</head>
	<body>
	<div class="tv">
		<canvas id="tv"></canvas>
		<script>

		</script>
	</div>
		<div class="grid"></div>
		<div class="main-content">
			<main>
				{% block content '' %}
			</main>
		</div>
		<script src="js/scripts.js"></script>
	</body>
</html>
