<!doctype html>
<html class="no-js" lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<title>Star Wars Imperial Styleguide by nclud</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- COMMON TAGS -->
		<meta charset="utf-8">
		<title>Imperial Style Guide</title>
		<!-- Search Engine -->
		<meta name="image" content="https://dummyimage.com/640.png">
		<!-- Schema.org for Google -->
		<meta itemprop="name" content="Imperial Style Guide">
		<meta itemprop="image" content="https://dummyimage.com/640.png">
		<!-- Twitter -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="Imperial Style Guide">
		<meta name="twitter:site" content="@nclud">
		<meta name="twitter:creator" content="@nclud">
		<meta name="twitter:image:src" content="https://dummyimage.com/1024x512.png">
		<!-- Twitter - Article -->
		<!-- Open Graph general (Facebook, Pinterest & Google+) -->
		<meta name="og:title" property="og:title" content="Imperial Style Guide">
		<meta name="og:image" property="og:image" content="https://dummyimage.com/1200x630.png">
		<meta name="og:url" property="og:url" content="https://imperialstyleguide.com">
		<meta name="og:site_name" property="og:site_name" content="Imperial Style Guide">
		<meta name="fb:admins" property="fb:admins" content="12294301102">
		<meta name="og:type" property="og:type" content="article">
		<!-- Open Graph - Article -->
		<meta name="article:section" content="Design">
		<meta name="article:published_time" content="2019-05-04T00:00:01-05:00">
		<meta name="article:author" content="nclud">
		<meta name="article:tag" content="styleguide, design, Star Wars, Imperial">

		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1267683-8"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-1267683-8'); </script>
		<link href="https://fonts.googleapis.com/css?family=Saira|Source+Code+Pro:400,700" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css?ver={{ 'now'|date('Y-m-d_g-i') }}" type="text/css" media="all">
		{% block head '' %}
	</head>
	<body>
	<div class="tv">
		<canvas id="tv"></canvas>
	</div>
		<div class="main-content">
			<main>
				{% block content '' %}
			</main>
		</div>

		<footer class="footer">
			<a href="https://nclud.com" class="made-by">
				{{ nclud_logo }} made by nclud
			</a>
		</footer>

		<hr class="endline">

		<script src="js/vendor/jquery.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>
