<section class="color-section section" id="colors">
	<h2 class="section-title">Colors</h2>

	<div class="section-content">
		<p>The following colors are approved for use in our promotional materials. Adherence to this palette gives our visuals focus and makes them stronger.</p>

		<table>
			<thead>
				<tr>
					<th>Swatch</th>
					<th>Name</th>
					<th>Hex<span class="too-long">adecimal</span></th>
				</tr>
			</thead>
			<tbody>
		{% for color in colors %}
				<tr>
					<td>
						<div class="color-swatch" style="background-color: {{ color.hex }};">
					</td>
					<td>{{ color.name }}</td>
					<td>{{ color.hex }}</td>
				</tr>
		{% endfor %}
			</tbody>
		</table>
	</div>
</section>
