<section class="section" id="intro">
	<h2 class="section-title">Introduction</h2>
	<div class="section-content">
		<p>Welcome to the Imperial Style Guide. This resource was to facilitate consistency in our communications throughout all sectors, with an emphasis on clear and direct conveyance of our mission to uphold order in the galaxy through constant exploration of new technologies and an ideology that fear of force is as, if not more, effective as force itself.</p>
	</div>
</section>
