<section class="section" id="logo">
	<h2 class="section-title">The Imperial Mark</h2>
	<div class="section-content">
		<p>The Imperial Mark is known throughout the galaxy as a symbol of all the Empire represents. As such, it should be treated with respect.</p>
		<p>Our logo can be used on uniforms (traditionally on the helmet and/or shoulders), vehicles, flags, and other imperial property.</p>
		<p>When applying the Imperial Mark, spokes that make up the interior of the logo should be pointing directly upward and should not be angled.</p>
		<p>The Imperial Mark should preferably be in one of our official brand colors. In no way will a multi-colored version of the mark be tolerated.</p>
	</div>
</section>
