<section class="section typography-section" id="typography">
    <h2 class="section-title">Typography</h2>
	<div class="section-content">
		<p>We use Arubesh over High Galactic as the official Imperial writing system of the Empire for its clean lines and legibility across a variety of display sizes, and adoption of it continues to grow as we bring order to new corners of the galaxy. Please note any mixing of Arubesh with Outer Rim Basic will not be tolerated.</p>

		<p class="typographic-sample"><samp>abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789</samp></p>
	</div>
</section>
