<section class="text-section section" id="voice-and-tone">
	<h2 class="section-title">Voice and Tone</h2>
	<div class="section-content">
		<p>In war, words are as important a weapon as blasters and star destroyers. Any information disseminated by the empire should follow these strict guidelines:</p>
		<ol>
			<li>Be direct. No one should question our authority or meaning.</li>
			<li>Promote our mission. A society under the Empire is one of security and stability.</li>
			<li>Encourage obedience. Loyalty will be rewarded.</li>
			<li>Intimidate our enemies. Fear will keep them in line.</li>
		</ol>
	</div>
</section>
