$imperial-red         : #BC1E22;
$light-imperial-red   : #D9619D;
$imperial-blue        : #394A59;
$galactic-orange      : #F69445;
$bright-imperial-blue : #4A6A93;
$grid-blue            : #0F1567;
$sith-gray            : #64696C;
$moss                 : #556567;
$white                : #FFFFFF;
$black                : #000000;
