@font-face {
    font-family: 'auretech';
    src: url('../fonts/auretech.woff2') format('woff2'),
         url('../fonts/auretech.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'upheaval';
    src: url('../fonts/upheavtt.woff2') format('woff2'),
         url('../fonts/upheavtt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
