@font-face {
    font-family: 'auretech';
    src: url('../fonts/auretech.woff2') format('woff2'),
         url('../fonts/auretech.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$monospace : 'Source Code Pro', monospace;
$san-serif : 'Saira', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$auretech  : 'auretech';
