.grab-the-bookmarklet {
	a {
		display: block;
		color: $white;
		font-size: rem( 36px );
		font-weight: 700;
		font-family: $monospace;
		text-transform: uppercase;

		margin-top: rem( 48px );
		border: rem( 2px ) solid $imperial-red;
		padding: rem( 16px ) rem( 48px );

		@include neon-glow($imperial-red);
		@include less-box-glow($imperial-red);
	}
}

@media( max-width: em( 590px ) ) {
	.grab-the-bookmarklet a {
		font-size: rem( 24px );
		padding-left: rem( 24px );
		padding-right: rem( 24px );
	}
}
