.color-section {

	table {
		width: 100%;
	}

	th {
		font-size: rem( 28px );
		color: $light-imperial-red;
		text-align: left;
		font-weight: 700;
	}

	td {
		font-size: rem( 24px );
		vertical-align: middle;
		padding: rem( 8px ) 0;
	}
	.color-swatch {
		display: block;
		height: rem( 80px );
		width: rem( 80px );
		box-shadow: 0 rem( 2px ) rem( 8px ) rem( 1px ) rgba( $white, 0.1 );
	}
}
