.color-section {

	table {
		width: 130%;
		margin-left: -15%;
		margin-top: rem( 32px );
	}

	td,
	th {
		padding: rem( 8px ) rem(8px);
	}

	th {
		font-size: rem( 28px );
		color: $imperial-red;
		text-align: left;
		font-weight: 700;

		@include neon-glow( $imperial-red );
	}

	td {
		font-size: rem( 24px );
		vertical-align: middle;

		@include neon-glow( $white );
	}

	.color-swatch {
		display: block;
		height: rem( 80px );
		width: rem( 80px );
		box-shadow: 0 rem( 2px ) rem( 8px ) rem( 1px ) rgba( $white, 0.1 );
	}
}
