.color-section {

	table {
		margin-top: rem( 32px );
	}

	td,
	th {
		padding: rem( 8px ) rem(8px);
		font-size: rem( 14px );
	}

	th {
		text-align: left;
		padding-bottom: rem(32px);
		color: $white;

		@include neon-glow( $white );

		span {
			text-transform: uppercase;
			border: rem(1px) solid $white;
			padding: rem(8px) rem(12px);
			border-radius: rem( 4px );

			@include less-box-glow( $white );
		}
	}

	td {
		vertical-align: middle;

		@include neon-glow( $white );
	}

	.color-swatch {
		display: block;
		height: rem( 80px );
		width: rem( 80px );
		box-shadow: 0 rem( 2px ) rem( 8px ) rem( 1px ) rgba( $white, 0.1 );
	}
}

/*
@media ( max-width: em( 1024px ) ) {
	.color-section {
		table {
			width: 100%;
			margin-left: rem( -16px );
		}
	}
}
*/

@media ( max-width: em( 720px ) ) {
	.color-section {
		.color-swatch {
			width: rem( 40px );
			height: rem( 40px );
		}
	}
}

@media ( max-width: em( 400px ) ) {
	.color-section {
		.too-long {
			display: none;
		}
	}
}
