.footer {
	max-width: rem( 1024px );
	margin: 0 auto rem( 72px );
}

.svg-nclud-logo {
	font-size: rem( 50px );
	margin-right: rem( 8px );

	filter: drop-shadow(0 0 rem(3px) rgba($white, 0.7))
			drop-shadow(0 0 rem(3px) rgba($white, 0.7))
			drop-shadow(0 0 rem(3px) rgba($white, 0.7));
}

.made-by {
	font-size: rem( 22px );
	color: $white;

	@include less-neon-glow( $white );
}

.endline {
	background-color: rgba(#ccc, 0.25);
	height: rem( 48px );
	border: 0 none;
	margin: 0;
}

@media( max-width: em(1024px) ) {
	.endline {
		width: 100vw;
		margin: 0 calc(50% - 50vw);
	}
}
