html {
	scroll-behavior: smooth;
}

body {
	font-family: $san-serif;
	color: $white;

	background-color: $black;
	height: 100%;
}

.tv {
	position: fixed;

	opacity: 0.45;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: -1;

	canvas {
		height: 100%;
		width: 100%;
	}
}

header {
	max-width: rem( 1024px );
	position: relative;
	margin: 0 auto;
	padding-top: rem( 36px );

	hr::before {
		content: " ";
		position: absolute;
		right: 0;
		top: rem( 32px );
		height: rem( 10px );
		background-color: #ccc;
		opacity: 0.4;
		width: 45%;
	}
}

h1 {
	font-size: rem( 24px );
	margin-bottom: rem( 96px );
	font-weight: 400;
	color: $white;
	text-transform: uppercase;

	@include neon-glow($white);
}

hr.border {
	border-top: rem(4px) solid $white;
	display: block;
	max-width: rem( 1024px );

	@include box-glow( $white );
}
