.logo-section {
	img {
		display: block;
		margin: rem(32px) auto;
		width: 100%;
		height: auto;
	}

	.unacceptable {
		position: relative;

		.svg-x {
			position: absolute;
			color: $imperial-red;
			stroke: $imperial-red;
			stroke-width: rem( 3px );

			width: 90%;
			height: 90%;
			top: 5%;
			left: 5%;

			filter: drop-shadow(0 0 rem(3px) rgba($imperial-red, 0.7))
					drop-shadow(0 0 rem(3px) rgba($imperial-red, 0.7))
					drop-shadow(0 0 rem(3px) rgba($imperial-red, 0.7));
		}
	}
}
