.nav {
    position: relative;
	margin: rem(60px) auto;
	height: 65vh;
	font-family: $monospace;
	font-weight: 700;
	text-transform: uppercase;

    a {
		@include neon-glow( $imperial-red );

        position: absolute;
        color: $white;
        top: 50%;
        left: 50%;
		text-align: center;

		font-size: 5vh;
		padding: 1vh 1.5vh;
		white-space: nowrap;

		&:nth-of-type(1) {
			transform: rotate(-90deg) translate(38vh) rotate(90deg)
			translateX( -50% );
		}

		&:nth-of-type(2) {
			transform: rotate(-41deg) translate(32vh) rotate(41deg);
		}

		&:nth-of-type(3) {
			transform: rotate(25deg) translate(28vh) rotate(-25deg);
		}

		&:nth-of-type(4) {
			transform: rotate(90deg) translate(31vh) rotate(-90deg)
			translateX( -50% );
		}

		&:nth-of-type(5) {
			transform: rotate(165deg) translate(45vh) rotate(-165deg);
		}

		&:nth-of-type(6) {
			transform: rotate(198deg) translate(65vh) rotate(-198deg);
		}
    }

    .svg-imperial-logo {
		height: 65vh;
		width: auto;
		max-width: 100%;

        font-size: rem(280px);
        display: block;
		margin: 10vh auto;
        color: $white;
		filter: drop-shadow(0 0 rem(3px) rgba($white, 0.7))
				drop-shadow(0 0 rem(3px) rgba($white, 0.7))
				drop-shadow(0 0 rem(3px) rgba($white, 0.7));
    }
}

@media( max-width: em( 1024px ) ) {
	.nav {
		transform: scale(0.7) translateY(-50%);
	}
}

@media( max-width: em( 770px ) ) {
	.nav {
		transform: scale(0.6) translateY(-50%);
	}
}

@media( max-width: em( 490px ) ) {
	.nav {
		transform: scale(0.45) translateY(-50%);
	}
}

@media( max-width: em( 375px ) ) {
	.nav {
		transform: scale(0.33) translateY(-50%);
	}
}

@media( max-width: em( 330px ) ) {
	.nav {
		transform: scale(0.30) translateY(-50%);
	}
}
