.nav {
    position: relative;
	margin: rem(60px) auto;
	height: 65vh;
	font-family: $monospace;
	font-weight: 700;
	text-transform: uppercase;

    a {
		@include neon-glow( $imperial-red );

        position: absolute;
        color: $white;
        top: 50%;
        left: 50%;
		text-align: center;

		font-size: 5vh;
		padding: 1vh 1.5vh;
		white-space: nowrap;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;

			opacity: 0;
			box-shadow: 0 0 1px $grid-blue,
						0 0 2px $grid-blue,
						0 0 6px $grid-blue,

						inset 0 0 1px $grid-blue,
						inset 0 0 2px $grid-blue,
						inset 0 0 6px $grid-blue;
			border: rem( 2px ) solid $grid-blue;

			transition: opacity 300ms ease-in-out;
		}

		&:hover::after,
		&:focus::after {
				opacity: 1;
			}

		&:nth-of-type(1) {
			transform: rotate(-90deg) translate(38vh) rotate(90deg)
			translateX( -50% );
		}

		&:nth-of-type(2) {
			transform: rotate(-41deg) translate(32vh) rotate(41deg);
		}

		&:nth-of-type(3) {
			transform: rotate(25deg) translate(28vh) rotate(-25deg);
		}

		&:nth-of-type(4) {
			transform: rotate(93deg) translate(31vh) rotate(-93deg)
			translateX( -50% );
		}

		&:nth-of-type(5) {
			transform: rotate(165deg) translate(45vh) rotate(-165deg);
		}

		&:nth-of-type(6) {
			transform: rotate(195deg) translate(77vh) rotate(-195deg);
		}
    }

    .svg-imperial-logo {
		height: 65vh;
		width: auto;
		max-width: 100%;

        font-size: rem(280px);
        display: block;
		margin: 10vh auto;
        color: $white;
		filter: drop-shadow(0 0 rem(3px) rgba($white, 0.7))
				drop-shadow(0 0 rem(3px) rgba($white, 0.7))
				drop-shadow(0 0 rem(3px) rgba($white, 0.7));
    }
}

@media( max-width: em( 1024px ) ) {
	.nav {
		transform: scale(0.7);
	}
}

@media( max-width: em( 770px ) ) {
	.nav {
		transform: scale(0.6);
	}
}

@media( max-width: em( 490px ) ) {
	.nav {
		transform: scale(0.45);
	}
}

@media( max-width: em( 330px ) ) {
	.nav {
		transform: scale(0.35);
	}
}

/*
@media( max-width: em( 720px ) ) {
	h1 {
		margin-bottom: rem( 16px );
	}

	.nav {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: 2vh;

		.svg-imperial-logo {
			height: auto;
			width: 60%;
			margin-top: 0;
			margin-bottom: 0;
		}

		.nav-items {
			width: 35%;
			padding-right: rem( 16px );
		}

		a {
			position: relative;
			left: 0;
			top: 0;
			transform: none !important;
			margin-left: 0 !important;
			display: block;
			text-align: left;
			padding: 2vh 0;
			font-size: rem( 22px );
		}
	}
}

@media( max-width: em( 500px ) ) {
	header,
	.nav {
		height: auto;
	}
	.nav {
		.svg-imperial-logo,
		.nav-items {
			width: 100%;
		}

		.nav-items {
			padding-left: rem( 48px );
		}

		.svg-imperial-logo {
			margin: 0;
		}
	}
}
*/
