.section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	max-width: rem( 1024px );
	margin: 0 auto rem( 60px );
	padding: rem( 8px );

	.section-title {
		@include neon-glow( $imperial-red );

		color: $white;
		text-transform: uppercase;
		font-size: rem( 22.4px );
		font-family: $monospace;
		font-weight: 700;
		width: 45%;
	}

	.section-content {
		padding-top: rem(48px);
		width: 50%;

		p,
		li {
			font-size: rem( 22.4px );
			line-height: 1.9;
			margin-bottom: rem( 14px );
			color: $white;

			@include neon-glow( $white );
		}

		ol,
		ul {
			padding-left: rem( 48px );

			li {
				position: relative;
			}
		}

		ol {
			list-style: none;
			counter-reset: li;

			> li {
				&::before {
					content: counter( li ) '.';
					counter-increment: li;

					position: absolute;
					top: rem( 10px );
					left: rem( -70px );
					width: em( 24px );

					line-height: 1;
					text-align: right;
					color: $white;
				}
			}
		}
	}

	.section-subhead {
		text-transform: uppercase;
		color: $white;
		font-size: rem( 16px );
		border: rem(1px) solid $white;
		padding: rem(8px) rem(12px);
		border-radius: rem( 4px );
		margin-top: rem( 32px );

		@include less-neon-glow( $white );
		@include less-box-glow( $white );
	}
}

@media( max-width: em( 1024px ) ) {
	.section {
		display: block;
		padding: 0 rem( 36px );

		.section-title,
		.section-content {
			width: auto;
		}
	}
}
