.section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	max-width: rem( 1024px );
	margin: rem( 60px ) auto;
	padding: rem( 8px );

	.section-title {
		@include neon-glow( $light-imperial-red );

		color: $light-imperial-red;
		text-transform: uppercase;
		font-weight: 600;
		font-size: rem( 45px );
		width: 45%;
	}

	.section-content {
		width: 50%;
	}
}

@media( max-width: em( 1024px ) ) {
	.section {
		display: block;
		padding: 0 rem( 36px );

		.section-title,
		.section-content {
			width: auto;
		}
	}
}
