.text-section {

	p {
		font-size: rem( 18px );
		line-height: 1.5;
		margin-bottom: rem( 14px );
		color: $bright-imperial-blue;
		// text-shadow: 0 0 rem( 6px ) rgba( $bright-imperial-blue, 0.7 );
	}
}
